(
	weapon_ids: ["", "auto_shooter", "melee_punch"],
	enemy_ids: ["weak", "medium", "strong", "straight_flyer", "zigzag_flyer", "ranged_flyer", "ranged_ground", "exploder"],
	initial_weapons: [
		(
			weapon_id: "melee_punch",
			level: 1,
		),
		(
			weapon_id: "auto_shooter",
			level: 1,
		),
	],
	powerup_pool: [
		StatBoost((
			stat: Speed,
			value: 50.0,
			name: "Speed Boost",
			description: "Increases movement speed",
		)),
		StatBoost((
			stat: JumpForce,
			value: 100.0,
			name: "Jump Boost",
			description: "Increases jump height",
		)),
		StatBoost((
			stat: MaxHealth,
			value: 20.0,
			name: "Max Health +20",
			description: "Increases maximum health and heals",
		)),
	],
)
